<!DOCTYPE html>
<html>
<head>
    <title>Famous Movie Quotes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
            crossorigin="anonymous"></script>
    <link href="/styles/style.css" rel="stylesheet">
</head>
<body>
<form method="get" action="{{ path('addQuote') }}">
    <label for="quote"></label>Quote: <input id="quote" name="quote">
    <label for="character">Character: </label><input id="character" name="character">
    <select name="movie">
        {% for movie in movies %}
        <option value="{{ movie.getId }}">{{ movie.getName }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="add">
</form>
<p></p>
</body>
</html>